.footer {
  background: #cb5333;
  height: 200px;
}

.f-wrap {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex: 1;
}

.f-info {
  display: flex;
  justify-content: flex-end;
  margin-top: 65px;
}

.f-box {
    margin-left: 60px;
}
.f-box > span {
  display: block;
  color: white;
}
.f-box-title {
  text-transform: uppercase;
  font-size: 14px;
}

.f-i {
  margin-top: 15px;
}

.social-links {
    display: inline-block;
    width: 24px;
    padding: 10px;
    margin: 15px 10px 0 0;
    background: white;
    border-radius: 50%;
    color: #cb5433;
    font-size: 18px;
    text-align: center;
}
.f-logo {
    margin-top: 55px;
}
.lineOnSlide {
  display: none;
}
.copyright {
    background: #cb5333;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}