.wrap {
  width: 1170px;
  margin: 0 auto;
}
.photo-section {
    margin-top: -49px;
    z-index: 0000;
}

.history-container {
  display: flex;
  justify-content: flex-start;
}

.history-container > div {
  line-height: 0;
}

.h-content {
  width: 580px;
  padding: 80px 0 0 0;
}
.line {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #cb5333;
  margin: 0 20px 9px 0;
}

.h-content h2 {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.h-content p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 40px;
  padding-right: 125px;
}

.photo-section > div.section-p1 {
  line-height: 0;
}

.ss {
  line-height: 20px;
}
.sk {
  width: 100%;
  display: inline-block;
  margin-top: -42px;
}

.style {
  line-height: 20px;
  padding: 80px 0 0 100px;
}

.style p {
  margin: 30px 0 30px 0;
}

li{
  list-style: none;
}

.icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 39px;
}

.icon img {
  margin-right: 20px;
  width: 47px;
  display: inline-block;
}