.wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.photo-section {
    margin-top: -49px;
    z-index: 0000;
}

.history-container > div {
  line-height: 0;
}

.h-content{
  /* width: 580px; */
  padding: 150px 0 0 0;
  position: relative;
}
.line {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #cb5333;
  margin: 0 20px 9px 0;
}

.h-content h2,
.our-way h2 {
  font-size: 30pt;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
}

.h-content p,
.our-way p {
  font-size: 16pt;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 25pt;
  padding-right: 80px;
  font-family: 'Conv_ProximaNova-Light';
}

.our-way {
  width: 50%;
  margin-top: -117px;
}
.photo-section > div.section-p1 {
  line-height: 0;
}

.ss {
  line-height: 20px;
}
.sk {
  width: 100%;
  display: inline-block;
}

.style {
  line-height: 20px;
  padding: 150px 0 150px 100px;
  font-weight: 100;
  line-height: 24px;
}

.style h2 {
  font-size: 30pt;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  margin-bottom: 26pt;
}
.style p {
  margin: 10px 0 26pt 0;
  font-family: 'Conv_ProximaNova-Light';
  font-size: 16pt;

}
ul {
    margin-bottom: 26pt;
}
li{
  list-style: none;
  font-family: 'Conv_ProximaNova-Light';
  font-size: 16pt;
  font-weight: 300;
}

.icon,
.icon2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25pt;
  font-size: 16pt;
  font-family: 'Conv_ProximaNova-Light'
}

.icon img,
.icon2 img {
  margin-right: 20px;
  width: 47px;
  display: inline-block;
}

.fff {
  width: 50%;
  margin-top: -332px;
}

.icon2 {
  padding-right: 80px;
  font-weight: 100;
  font-size: 16pt;
  line-height: 20pt;
  font-family: 'Conv_ProximaNova-Light';
}

.right-section {
  position: absolute;
  right: 0;
  width: 50%;
}

.photo-d {
    position: relative;
    height: 58.6vh;
    margin-top: 60px;
    display: block;
}

img.firstph {
    position: absolute;
    width: 34.5%;
    display: inline-block;
}
img.secph {
    position: absolute;
    right: 0;
    width: 65.5%;
    display: inline-block;
}

img.budda {
    position: absolute;
    bottom: 0;
    left: 34.5%;
    width: 40.6%;
}

img.group2 {
  width: 75.1%;
}
.view {
  width: 97vh;
}
.view2 {
  width: 50%;
  line-height: 0;
}
img.view-2 {
    width: 58.6vh;
    margin-top: -4px;
}

.v {
  width: 100%;
}

img.lf {
    width: 100%;
    margin-top: -5px;
}

.last-photo {
  line-height: 0;
}
img.none {
  width: 100%;
}

img.sk {
  position: absolute;
  bottom: 16%;
  left: -65%;
  width: 165%;
}