@media screen and (max-width: 600px) {
  /* .App {
    overflow-x: hidden;
  }
  .header {
    width: 100vh;
    padding: 0 10px;
  }
  .h-section{
    width: 100% !important;

  }
  .h-title {
    text-align: right;
  }
  .wrap {
    width: 100% !important;
  } */
  .h-section {
    width: 100% !important;
  }
  .logo img {
    width: 130px;
    padding: 10px;
  }
  .h-title {
    text-align: right;
    padding-right: 10px;
    font-size: 14px !important;
    font-weight: 300;
  }
  .h-number {
    text-align: right;
    padding: 0 10px 0 0;
    font-size: 14px !important;
  }
  .slider {
    height: 300px !important;
  }
  .slide {
    height: 100% !important;
  }
  .textOnSlide {
    margin: 0 !important;
    font-size: 16px !important;
    padding: 50px 0px 0 10px !important;
    font-weight: bold !important;
  }
  .nextArrow {
    right: 3% !important;
  }
  .wrap {
    width: 100% !important;
    display: block !important;

  }
  .h-content {
    /* padding: 150px 0 48px 20px !important; */
    padding: 150px  0 0 0 !important;
  }
  .sup-div {
    padding: 0 10px 48px 10px;
  }
  .h-content h2,
  .style h2,
  .our-way h2{
    font-size: 20px !important;
  }
  .line {
    margin-bottom: 5px !important;
  }
  .h-content p {
    padding-right: 0 !important;
  }
  .none {
    display: none;
  }
  .section-p1 img{
    display: inline-block;
    width: 50%;
    height: 215px !important;
  }
  .section-p2 img {
    width: 100%;
  }
  .style {
    padding: 35px 20px 0 20px !important;
  }
  .style ul {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  .fff {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .sk {
    margin-top: 0 !important;
    width: 100% !important;
    margin-bottom: 49px;
  }
  .last-p {
    margin-bottom: 0 !important;
  }
  .our-way * {
    padding: 0 10px 0 3px;
  }
  .our-way {
    width: 100% !important;
    padding: 33px 0 0 0  !important;
    margin-top: 0 !important;
  }
  .our-way p,
  .our-way h2,
  .our-way img {
    padding: 0 10px !important;
  }
  .icon2 {
    padding-right: 0px !important;
  }
  .view, .view-2, .last-photo{
    display: none;
  }

  .view2 {
    margin: -4px auto;
    width: 100% !important;
    height: 846px;
    background: url(img/fone2.jpg) no-repeat top center;
  }
  .v {
    width: 93.6% !important;
  }
  .footer {
    height: 100% !important;
  }
  .f-wrap {
    width: 100% !important;
    flex-direction: column !important;
    align-items: left !important;
  }
  .f-info {
    flex-direction: column !important;
    justify-content: flex-start !important;
    margin-bottom: 50px !important;
    margin-top: 0 !important;
  }
  .f-box {
    margin-top: 30px;
  }
  .f-logo {
    margin: 20px 0 0 60px;

  }
  .f-box-title {
    font-weight: bold;
    font-size: 16px !important;
  }
  img.sk {
    position: relative !important;
    bottom: 0% !important;
    left: 0% !important;
    width: 100%;
  }
}
